section .content {
	max-width: 780px;
}

header .posting {
	padding: 20px 0 40px 0;
}

header .posting h1 {
	text-align: left;
	margin-bottom: 0;
}

header .posting p#location {
	font-family: "Euclid";
	font-size: 20px;
	margin-top: -6px;
	margin-bottom: 30px;
}

header .posting a {
	font-size: 12px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.4);
	font-weight: 900;
	display: block;
	background: url('../../img/4.0/jobs-arrow@2x.png');
	background-repeat: no-repeat;
	background-size: 29px 13px;
	padding-left: 40px;
	background-position: left center;
}

section.posting .content {
	padding-top: 60px;
	padding-bottom: 60px;
}

section.posting.summary * {
	font-size: 18px;
}

#together {
	background-image: url('../../img/4.0/team.jpg');
	background-size: cover;
	background-position: center;
}

#points .content {
	flex-wrap: wrap;
	max-width: 860px;
	padding-bottom: 40px;
}

#points .content .item {
	margin: 20px 0 60px 0;
}

#points .content .item * {
	color: #666666;
}

#view {
	background-image: url('../../img/4.0/view.jpg');
	background-size: cover;
	height: 400px;
}

.posting .content {
	text-align: left;
	padding-right: 200px;
}

.posting p {
	margin: 20px 0;
}


.item {
	width: 340px;
}

.item #arrow {
	margin-top: 20px;
	width: 27px;
	height: 27px;
}

p {
	color: #666666;
}

h2 {
	font-size: 35px;
	margin: 80px 0 6px 0;
	text-transform: none;
	color: #666666;
}

h3 {
	font-family: "Euclid";
	font-weight: 900;
	font-size: 25px;
	margin-bottom: 5px;
	text-transform: none;
	color: #666666;
}

.posting h3 {
	font-family: "Avenir";
	font-weight: 700;
	color: #000;
	margin: 10px 0 30px 0;
}

.posting ul {
	margin-bottom: 60px;
	margin-left: 20px;
}

.positions {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 40px 0 0 0;
}

.positions a {
	color: #1FBCD2;
	font-family: "Avenir";
	font-weight: 900;
	font-size: 18px;
	margin-bottom: 5px;
	line-height: 1.1em;
}

.positions .item {
	margin-bottom: 20px;
}


p.h5 {
	font-size: 14px;
	font-style: italic;
	margin-top: 20px;
}

#positions h1 {
	text-shadow: none;
	color: #666666;
}


@media only screen and (max-width: 700px) {
  .logos-container a {
		margin: 0 50px 50px 0;
		text-align: left;
	}

	.logos-container {
		margin-bottom: 20px;
	}

	#jobs .image {
		margin-bottom: 40px;
	}

	.posting .content {
		padding-right: 20px;
	}

	section.posting .content {
		padding-top: 40px;
		padding-bottom: 30px;
	}

}
