header {
	position: relative;
	padding: 0 25px 70px 25px;
}

header * {
	color: #FFF;
}

header .pattern, header .gradient {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -3;
}

header .background-image {
  position: absolute;
  background-repeat: no-repeat;;
  background-position: center top;
  background-size: contain;
  display: block;
  width: 100%;
	height: 100%;
	opacity: 0.25;
	top: 0;
	left: 0;
  image-rendering: -moz-crisp-edges;          /* Firefox                        */
  image-rendering: -o-crisp-edges;            /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
}

header .pattern {
	background-image: url('../../img/4.0/patterns/loops@2x.png');
	background-repeat: repeat;
	background-size: 45px 36px;
	opacity: 0.1;
	z-index: -1;
}

header .pattern.small-circles {
	background-image: url('../../img/4.0/patterns/small-circles@2x.png');
	background-repeat: repeat;
	background-size: 45px 45px;
	opacity: 0.06;
	z-index: -1;
}


#menu {
	max-width: 950px;
	width: 100%;
	padding-top: 50px;
	text-align: right;
	margin: 0 auto 120px auto;
	z-index: 1;
	position: relative;
}

#menu a#logo,
.sitemap a.logo {
	float: left;
	font-size: 24px;
	opacity: 1;
	margin-top: 4px;
	padding-top: 1px;
	margin-left: 0;
	width: 100px;
	border: none;
}

#menu a {
	color: #FFF;
	opacity: 1;
	font-size: 15px;
	margin-left: 50px;
	font-weight: 800;
	transition: .25s ease-in-out;
	border-bottom: 2px solid transparent;
	-moz-transition: .25s ease-in-out;
	-webkit-transition: .25s ease-in-out;
	vertical-align: top;
	margin-top: 10px;
	display: inline-block;
}

#menu a:hover {
	border-bottom: 2px solid #FFFFFF;
}

#menu a#logo:hover, #menu a.download:hover {
	border: none;
	text-decoration: none;
}

#menu a#plus {
	margin: 10px 14px 0 14px;
	font-weight: 900;
}

#menu a.download {
	margin: 0;
	background-repeat: no-repeat;
	background-position: center bottom;
	display: inline-block;
	width: 30px;
	height: 30px;
	border: none;
}

#menu a.download#iphone {
	background-size: 119px 40px;
	background-image: url('../../img/4.0/home/appstore-badge-en.svg');
}

#menu a.download#android {
	background-size: 16px 19px;
	background-image: url('../../img/4.0/home/android-logo@2x.png');
	background-position: center 12px;
}

#get-around p.get-around {
	min-width: 300px;
	width: 50%;
	text-align: left;
	font-size: 20px;
	text-transform: uppercase;;
	font-weight: 900;
	font-family: "Euclid";
}
#get-around .logos-container {
	width: 50%;
	justify-content: center;
}

.multimodal.hidden {
  display: none;
}

@media only screen and (min-width: 700px) {

	.multimodal .logos-container {
		margin-top: -10px;
		text-align: right;
		margin-bottom: -50px;
		justify-content: flex-end;
	}

	.multimodal .logos-container a {
		display: inline-block;
		text-align: center;
		position: relative;
		vertical-align: middle;
		overflow: hidden;
		margin: 0 0 10px 0;
		width: auto;
		height: auto;
	}

	.multimodal .logos-container a img,
	.multimodal .logos-container a svg {
		max-width: 90px;
		max-height: 45px;
		width: auto;
		height: 40px;
		cursor: pointer;
		margin-left: 60px;
		vertical-align: middle;
	}
}

@media only screen and (min-width: 700px) and (max-width: 799px) {
	footer .sitemap .column {
		margin-right: 120px;
	}
}


.multimodal h3 {
	margin-top: 60px;
	width: 400px;
}

.multimodal p.description {
	font-size: 18px;
	font-weight: 300;
	width: 400px;
}

.multimodal .button {
	margin-top: 20px;
}

.multimodal .phone {
	margin: -300px 40px -50px 0;
}

.multimodal .phone .phone-image {
	position: relative;
	bottom: 48px;
	width: 318px;
	left: 1px;
	height: auto;
}

footer .content {
	padding-bottom: 80px;
	box-sizing: border-box;
}

footer p.title,
footer a.title  {
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 10px;
	color: #666666;
	font-family: "Euclid";
}

footer a:hover {
	color: #000;
}

.sitemap {
	float: left;
}

.sitemap a.logo {
	display: none;
}

.sitemap .column,
#contact .column {
	float: left;
}

.sitemap .column {
	margin-right: 130px;
}

body[lang=fr] .sitemap .column {
	margin-right: 110px;
}

body[lang=fr] .sitemap > .column:last-child {
	margin-right: 103px;
}

#newsletter p {
	margin-top: 0;
}

#contact .column:nth-of-type(1) {
	margin: 12px 145px 24px 0;
}

#contact .column:nth-of-type(2) {
	width: 180px;
	margin-right: 85px;
}

#contact .column:nth-of-type(3) {
	margin-top: 10px;
}

.sitemap .column a:not(.title), footer p {
	display: block;
	font-size: 16px;
	color: #9E9E9E;
	margin-bottom: 4px;
	font-weight: 500;
	line-height: 1.4em;
}

.sitemap .column a:hover {
	color: #000;
}

#newsletter p.subtitle {
	margin: -4px 0 20px 0;
}

#newsletter form {
  display: inline-block;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 11px 17px 7px 17px;
  margin-bottom: 14px;
}

#newsletter input[type="text"],
#language select {
	font-size: 14px;
	outline: none;
  float: left;
	font-weight: 500;
	padding-left: 4px;
	background-color: transparent;
	-webkit-appearance: none;
}

#newsletter input[type="text"] {
	max-width: 220px;
}

#language, #language select {
	width: 100%;
}

#newsletter input[type="submit"] {
  color: #666;
  background-color: #FFF;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
	background-color: transparent;
}

#newsletter input[type="submit"]:hover {
  color: #3E3E3E;
}

#newsletter.valid p.valid, #newsletter.invalid p.invalid {
	display: block !important;
}

#newsletter.valid form {
	display: none !important;
}

#newsletter.valid p.valid, #newsletter.valid p.valid span {
	color: #2bc875;
}

#newsletter.valid p.valid strong {
	display: block;
}

#newsletter.invalid p.invalid, #newsletter.invalid p.invalid span {
	color: #e65959;
}

#language {
	background: url('../../img/4.0/dropdown.png') 95% 50% no-repeat;
	background-size: 14px;
	background-color: #f6f6f6;
  display: inline-block;
	vertical-align: middle;
	color: #666;
  border-radius: 4px;
  padding: 14px 0px 12px 10px;
}

.underline {
	text-decoration: underline;
}

.terms {
	clear: both;
	margin: 60px 0 0 0;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #999999;
}

#contact {
	margin-top: 40px;
}

#contact a.social {
	width: 20px;
	height: 15px;
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.5;
	text-align: left;
	display: inline-block;
}

#contact a.social:first-of-type {
	margin: 0 20px 0 0;
}

#contact a.social svg {
	display: inline-block;
	width: 100%;
	height: 100%;
}

#contact a.social:hover {
	opacity: 1;
	-webkit-filter: none;
	filter: none;
}

#contact a {
	font-size: 14px;
	font-weight: 500;
	color: #9a9a9a;
	vertical-align: middle;
	display: inline-block;
}

#contact a#email {
	padding-top: 3px;
}

#contact a#email:hover {
	color: #000;
}

.toggle-menu {
	display: none;
}

@media only screen and (max-width: 700px) {
	header {
		padding-bottom: 20px;
	}

	.sitemap {
    position: fixed;
    top: 0;
    left: -100%;
		z-index: 200;

    width: 85%;
		max-width: 320px;
    height: 100%;

		overflow: visible;
		overflow-y: auto;
		padding: 30px 25px 0;
    box-sizing: border-box;

		background: #000000;
		transition: left 350ms ease-out;
	}

	.open .sitemap {
		left: 0%;
	}

	.sitemap a.logo {
		display: block;
	}

	.sitemap .column {
		display: block;
    float: none;
    margin: 30px 0 0;
	}

	.sitemap .column:nth-child(4) a:not(.title) {
		display: none;
	}

	.sitemap .column a:hover {
		color: #FFF;
	}

	.menu-header {
		overflow: auto;
	}

	footer .content {
		padding-bottom: 20px;
	}

	#sharing-screenshot {
		display: none;
	}

	#menu {
		padding-top: 30px;
		margin-bottom: 90px;
	}

	#menu a:not(#logo) {
		display: none;
	}

	#get-around p {
		margin: 0 auto;
	}

	#get-around .logos-container {
		width: 100%;
		justify-content: center;
	}

	.toggle-menu {
		display: block;
		float: left;

		height: 40px;
		width: 40px;

		background: none;

		outline: none;
	}

	.toggle-menu span {
    position: relative;
    width: 20px;
    height: 2px;

		display: block;
		background-color: #fff;
	}

	.toggle-menu span:before,
	.toggle-menu span:after {
		content: '';
    position: absolute;
    height: 2px;
    left: 0;
    right: 0;
		background-color: #fff;
	}

	.toggle-menu span:before {
		bottom: 5px;
	}

	.toggle-menu span:after {
		top: 5px;
	}

	.toggle-menu span,
	.toggle-menu span:before,
	.toggle-menu span:after {
    -webkit-animation-duration: 750ms;
    animation-duration: 750ms;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
	}

	.toggle-menu span {
	    -webkit-transition: background-color 0s cubic-bezier(.9, 0, .1, 1) .2s;
	    transition: background-color 0s cubic-bezier(.9, 0, .1, 1) .2s;
	    -webkit-transform: rotate(0);
	    -ms-transform: rotate(0);
	    transform: rotate(0);
	    background-color: #fff
	}

	.toggle-menu span:before,
	.toggle-menu span:after {
	    -webkit-animation-duration: .4s;
	    animation-duration: .4s;
	    -webkit-transform-origin: center;
	    -ms-transform-origin: center;
	    transform-origin: center;
	    -webkit-animation-fill-mode: forwards;
	    animation-fill-mode: forwards
	}

	.toggle-menu span:after {
	    opacity: 1;
	    -webkit-animation-name: animate-top-line-out;
	    animation-name: animate-top-line-out
	}

	.toggle-menu span:before {
	    -webkit-animation-name: animate-bottom-line-out;
	    animation-name: animate-bottom-line-out
	}

	.open .toggle-menu span {
		-webkit-transition: background-color 0s cubic-bezier(.9, 0, .1, 1) 225ms;
    transition: background-color 0s cubic-bezier(.9, 0, .1, 1) 225ms;
    background-color: #000;
    -webkit-animation-name: animate-menu-icon-container-in;
    animation-name: animate-menu-icon-container-in
	}

	.open .toggle-menu span::before {
		-webkit-animation-name: animate-bottom-line-in;
    animation-name: animate-bottom-line-in;
	}

	.open .toggle-menu span::after {
		opacity: 1;
    -webkit-animation-name: animate-top-line-in;
    animation-name: animate-top-line-in
	}

	body.open:after {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    content: '';
    background: rgba(0, 0, 0, 0.7);
	}
}

@-webkit-keyframes animate-top-line-in {
    10% {
        top: 5px
    }
    30% {
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        background-color: #FFF
    }
    100% {
        top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background-color: #FFF
    }
}

@keyframes animate-top-line-in {
    10% {
        top: 5px
    }
    30% {
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        background-color: #FFF
    }
    100% {
        top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background-color: #FFF
    }
}

@-webkit-keyframes animate-bottom-line-in {
    10% {
        bottom: 5px
    }
    30% {
        bottom: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        background-color: #FFF
    }
    100% {
        bottom: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #FFF
    }
}

@keyframes animate-bottom-line-in {
    10% {
        bottom: 5px
    }
    30% {
        bottom: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0);
        background-color: #FFF
    }
    100% {
        bottom: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        background-color: #FFF
    }
}

@-webkit-keyframes animate-menu-icon-container-in {
    25% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
}

@keyframes animate-menu-icon-container-in {
    25% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
}

@-webkit-keyframes animate-top-line-out {
    0% {
        top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    50% {
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        top: 5px
    }
}

@keyframes animate-top-line-out {
    0% {
        top: 0;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    50% {
        top: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        top: 5px
    }
}

@-webkit-keyframes animate-bottom-line-out {
    0% {
        bottom: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    50% {
        bottom: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        bottom: 5px
    }
}

@keyframes animate-bottom-line-out {
    0% {
        bottom: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    50% {
        bottom: 0;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        bottom: 5px
    }
}
