header {
	background-size: auto 600px;
	background-repeat: no-repeat;
	background-position: center bottom;
}

header .content {
	margin: 0 auto;
	padding: 30px 0;
}

header .content .image {
	background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  max-width: 500px;
  width: 100%;
  height: 300px;
	margin-top: 40px;
}

header .content p.section-name {
	color: rgba(0, 0, 0, 0.5);
}

header.multi-columns-content .content {
	padding: 0 0 70px 0;
}

.phone {
	margin: -40px 100px -240px 0;
}

#agencies {

}
#agencies .content div {
	float: left;
}

.legend {
	width: 200px;
	height: 100%;
	vertical-align: top;
	margin-right: 40px;
	margin-bottom: 20px;
	padding-top: 20px;
}

.legend h4 {
	font-family: "Euclid";
	font-size: 30px;
	font-weight: 900;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}

.legend img {
	width: 12px;
	margin: 0px 8px;
	vertical-align: top;
}

.legend #real-time {
	text-transform: uppercase;
	font-size: 14px;
}

.agencies {
	width: 400px;
	margin-right: 40px;
	margin-top: 15px;
	margin-bottom: 20px;
	column-count: 2;
}

.agencies a {
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
	color: #666666;
}

a.agency.real-time, .legend #real-time {
	font-weight: 900;
	color: #2bc875;
}

.partner {
	width: 250px;
	padding-top: 20px;
}

.partner p.title {
	font-family: "Euclid";
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 6px;
}

.partner a.button {
	margin-top: 14px;
}

#all-regions .content div {
	float: left;
}

#all-regions .legend {
	margin-right: 80px;
}

#all-regions a:hover, #all-regions a.selected {
	color: #2bc875;
}

.countries {
	width: 250px;
	margin-bottom: 20px;
}

.countries a {
	display: block;
	font-size: 20px;
	margin-bottom: 4px;
	font-weight: 500;
}

.countries a.active, .cities a.active {
	color: #2bc875;
	font-weight: 900;
}

.cities {
	width: 400px;
	column-count: 2;
}

.cities a {
	display: block;
	font-weight: 500;
	margin-bottom: 4px;
	color: #666666;
}

.partner p.subtitle {
	margin-bottom: 10px;
}

.overlay.white {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 90;
	background-color: rgba(255, 255, 255, .85);
	display: none;
}

.overlay.white section {
	width: 500px;
	margin: 0 auto;
	top: 40%;
	position: relative;
	background-color: #34be7d;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	border: 6px solid #34be7d;
	padding: 60px 60px 40px 60px;
	text-align: center;
}

.overlay.white section,
.overlay.white section h1,
.overlay.white section p {
	color: white;
}

.overlay.white section h1 {
	font-size: 33px;
}

.overlay.white section a {
	color: #1a7b4d;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	font-size: 15px;
	margin-top: 35px;
	margin-bottom: -5px;
}

.overlay.white section form {
	text-align: center;
	margin: 20px auto;
	border-radius: 20px;
	padding: 11px 0px 7px 0px;
	background-color: white;
	width: 300px;
}

.overlay.white section input[type=email] {
	display: inline-block;
}

.overlay.white section input[type=submit] {
	color: #18985e;
	background-color: white;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 0 0;
	display: inline-block;
	font-size: 14px;
}

@media only screen and (max-width: 700px) {
	header.multi-columns-content .content {
		padding-bottom: 0;
	}

	header .content .image {
		margin: 0;
	}

	section#email {
		width: 80%;
		padding: 40px 20px 20px 20px;
		margin-top: -50%;
	}

	section#email h1 {
		font-size: 28px;
		text-align: center;
		margin-top: 10px;
	}

	section#email form {
		width: 95%;
		padding: 11px 10px 7px 10px;
	}

	section#email form input {
		background-color: transparent;
	}

	section#email p br {
		display: none;
	}

}
