@font-face {
    font-family: 'Euclid';
    src: url('euclidsquare-transit-bold-webfont.woff2') format('woff2'),
         url('euclidsquare-transit-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid';
    src: url('euclidsquare-transit-medium-webfont.woff2') format('woff2'),
         url('euclidsquare-transit-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Euclid';
    src: url('euclidsquare-transit-regular-webfont.woff2') format('woff2'),
         url('euclidsquare-transit-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
