header h1 {
	text-transform: uppercase;
	text-align: left;
	text-shadow: 0 1px 4px rgba(0,0,0,0.3);
	font-weight: 900;
	font-size: 58px;
	line-height: 1.1em;
}

header h1#go-your {
	font-weight: 500;
	margin-bottom: -14px;
}

header h1#go-your.fr {
	margin-bottom: 0;
}

header h1#own-way {
	font-weight: 900;
	margin-bottom: -10px;
}

header h1 a {
	cursor: default;
}

header p.sub-slogan {
	color: #FFF;
	margin-top: 30px;
	font-weight: 900;
	font-size: 20px;
	opacity: 1;
}

header .content {
	padding: 0;
	text-align: left;
	overflow: visible;
    position: relative;
}

header .content #phones {
    position: absolute;
    top: -36px;
    right: 0;
    width: 442px;
}

#download-buttons {
	display: flex;
	margin-top: 30px;
}

#download-buttons a {
	height: 40px;
	margin-right: 20px;
}

#download-now-button {
	display: none;
}

.feature .content {
    box-sizing: border-box;
}

.feature img {
	height: auto;
	box-sizing: border-box;
}

.feature img#nearby {
	max-width: 390px;
}

.feature img#trip-planner {
	max-width: 396px;
}

.feature img#go {
	max-width: 442px;
	padding: 10px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 11px 27px 0 rgba(0,0,0,0.20);
}

.feature img#multimodal {
	max-width: 363px;
}

.feature.gray {
    background-color: #f8f8fa;
}

#cities .content {
	align-items: center;
    box-sizing: border-box;
}

#cities .image {
	background-image: url('../../img/5.0/home/city.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	max-width: 450px;
	width: 100%;
	height: 250px;
}

#cities h4 {
	margin-top: 20px;
	max-width: 500px;
}

#cities .button {
	margin-top: 15px;
	margin-right: 20px;
}

#partners {
	background-image: url('../../img/4.0/partners/divvy-background@2x.jpg');
	background-size: cover;
}

#partners .content {
    box-sizing: border-box;
}

#partners h4 {
	max-width: 800px;
	margin: 0 auto 30px auto;
}

#blog .link {
	max-width: 300px;
	padding-top: 10px;
}

#blog .button {
	margin-top: 12px;
}

#blog .post {
	max-width: 240px;
	padding-left: 40px;
	border-left: 1px solid #e6e6e6;
	min-height: 120px;
}

#blog .content {
    box-sizing: border-box;
}

#blog .title {
	font-size: 24px;
	font-weight: 500;
}

#blog .taglineblog {
	font-size: 32px;
	font-weight: 500;
	color: #2eb778;
}

#blog .taglineblog.bold {
	font-weight: 700;
}

#blog .post .date {
	margin-bottom: 15px;
}

@media only screen and (max-width: 320px) {
	header h1 {
		/* Prevent breaking the layour on iPhone SE sizes and similar */
		font-size: 54px;
	}
}

@media only screen and (max-width: 800px) {
    header .content #phones {
        width: 340px;
        top: -60px;
        right: -10px;
    }
}

@media only screen and (min-width: 800px) {
    header {
        margin-bottom: 80px;
    }
}

@media only screen and (max-width: 700px) {

	header h1 {
		margin: 0;
	}

    header .content #phones {
        display: none;
    }

	#download-buttons {
		display: none;
	}

	#download-now-button {
		display: flex;
		margin-top: 20px;
		margin-bottom: 10px;
	}

	#download-now-button a {
		width: 100%;
	}

	.sub-slogan {
		display: none;
	}

	#android {
		display: none;
	}

	body.android #iphone {
		display: none;
	}

	body.android #android {
		display: block;
	}

	#cities .content {
		background-position: top left;
		padding-bottom: 40px;
		flex-direction: column-reverse;
	}

	#cities .image {
		background-position: left;
		max-width: 100%;
	}

	#blog .post {
		border: 0;
		max-width: 100%;
		margin-top: 0;
		padding-left: 0;
		margin-top: 30px;
		min-height: 0;
	}

	#blog .post .date {
		margin-bottom: 0;
	}
}

.flex-spacer {
    display: none;
    width: 20px;
}

@media only screen and (min-width: 700px) and (max-width: 950px) {
    .flex-spacer {
        display: initial;
    }
}
