header:not(.multi-columns-content) .content p {
	width: 700px;
	margin: 0 auto;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.7em;
}

h2 {
	text-align: center;
	font-size: 30px;
	max-width: 500px;
	margin: 0 auto;
	text-transform: none;
	line-height: 1.3em;
}

#partners {
	overflow: hidden;
	background-color: #000;
}

#partners a {
	display: block;
	float: left;
	width: 50%;
	height: 300px;
	vertical-align: middle;
	-webkit-transition: .2s ease-out;
	position: relative;
	overflow: hidden;
}

#partners p {
	line-height: 300px;
	font-family: "Euclid";
	font-size: 20px;
	text-align: center;
	color: #FFF;
	font-weight: 900;
	position: relative;
	z-index: 2;
}

#partners a .background-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	-webkit-transition: .2s ease-out;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#partners a:hover .background-image  {
	top: -10px;
	left: -10px;
	bottom: -10px;
	right: -10px;
	opacity: 0.8;
}

#transit .background-image {
	background-image: url('../../img/4.0/partners/transit@2x.png');
}

#bikeshare .background-image {
	background-image: url('../../img/4.0/partners/bikeshare@2x.png');
}

#carshare .background-image {
	background-image: url('../../img/4.0/partners/carshare@2x.png');
}

#rideshare .background-image {
	background-image: url('../../img/4.0/partners/rideshare@2x.png');
}

#insights {
	padding: 110px 0;
	background-image: url('https://transitapp.com/img/4.0/city@2x.png');
	background-size: auto 240px;
	background-repeat: no-repeat;
	background-position: center right;
}

#insights h3 {
	margin-bottom: 14px;
}

#insights p {
	width: 550px;
	margin-bottom: 10px;
}

h3 {
	font-size: 25px;
	font-family: "Euclid";
	font-weight: 900;
	color: #2F81B7;
}

.feature img#happier {
	max-width: 516px;
}

.feature img#support {
	max-width: 354px;
	margin-top: 40px;
	margin-bottom: 40px;
}

.feature img#dashboard {
	max-width: 508px;
}

.feature img#service-alerts {
	max-width: 408px;
	margin-top: 40px;
	margin-bottom: 20px;
}

.feature img#multimodal-pins {
	max-width: 271px;
}

.feature img#map {
	max-width: 431px;
}

.feature img#illustration-bike {
	max-width: 368px;
}

.feature img#nearby-bikeshare {
	max-width: 372px;
}

.feature img#illustration-carshare {
	max-width: 451px;
}

.feature img#carshare-booking {
	max-width: 323px;
}

.feature img#carshare-trip {
	max-width: 314px;
}

.feature img#illustration-rideshare {
	max-width: 383px;
}

.feature img#nearby-rideshare {
	max-width: 428px;
}

.story {
	background-repeat: no-repeat;
	background-size: contain;
	background-color: #2F81B7;
	overflow: hidden;
}

.story .content {
	padding: 0 20px 0 20px;
	overflow: visible;
	position: relative;
}

.story .background-image {
	position: absolute;
	left: 60%;
	width: 80%;
	height: 100%;
	background-position: left;
	background-size: cover;
	z-index: 0;
}

.story#mbta .background-image {
	background-image: url('../../img/4.0/partners/story-mbta.jpg');
}

.story#divvy .background-image {
	background-image: url('../../img/4.0/partners/story-divvy.jpg');
}

.story#uber .background-image {
	background-image: url('../../img/4.0/partners/story-uber.jpg');
}

.story .floating-text {
	padding: 80px 60px 80px 0;
	margin-left: 0;
	background: linear-gradient(to right, rgba(47, 129, 183, 1) 0%, rgba(47, 129, 183, 1) 80%, rgba(47, 129, 183, 0.85) 100%);
	width: 600px;
	color: #FFF;
	position: relative;
	z-index: 1;
}

.story .floating-text * {
	color: #FFF;
}

.story .floating-text .context {
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 30px;
}

.story .floating-text .quote {
	font-weight: 800;
	font-size: 20px;
	margin-bottom: 30px;
	background: url('../../img/4.0/partners/quote@2x.png');
	background-size: 44px 33px;
	background-repeat: no-repeat;
	background-position: 0 10px;
	overflow: visible;
	margin-left: -60px;
	padding-left: 60px;
}

.story .floating-text p.author,
.story .floating-text p.author-title  {
	font-weight: 700;
	font-style: italic;
	line-height: 1.4em;
}

.button {
	margin-top: 25px;
}

.logos h2 {
	margin-bottom: 20px;
}

#partners-newsletter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 100px 20px 90px;
	margin: auto;
	max-width: 950px;
}

#partners-newsletter .text-wrapper {
	margin-right: 14px;
}

#partners-newsletter .h1 {
	font-family: "Euclid";
	font-weight: 900;
	font-size: 30px;
	line-height: 1.2em;
	margin-bottom: 10px;
	text-transform: uppercase;
}

#partners-newsletter p{
	font-size: 18px;
	font-weight: 300;
	max-width: 445px;
}

#partners-newsletter .form-wrapper {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	position: relative;
}

#partners-newsletter .form-wrapper form {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f6f6f6;
	border-radius: 40px;
	padding: 11px 20px 7px 20px;
	margin: 14px 0;
	max-width: 300px;
	height: 35px;
}

#partners-newsletter .form-wrapper p {
	font-size: 14px;
	text-align: right;
	margin-right: 4px;
	position: absolute;
	top: 70px;
	width: 100%;
}

#partners-newsletter .form-wrapper p span {
	display: block;
}

#partners-newsletter form input {
	font-size: 14px;
	outline: none;
	font-weight: 500;
	padding-left: 4px;
	background-color: transparent;
	-webkit-appearance: none;
	flex: 1;
}

#partners-newsletter form input[type="submit"] {
	color: #666;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	background-color: transparent;
	flex: 0;
}

#partners-newsletter input[type="submit"]:hover {
	color: #3E3E3E;
}

#partners-newsletter.valid p.valid, #partners-newsletter.invalid p.invalid {
	display: block !important;
}

#partners-newsletter.valid form {
	display: none !important;
}

#partners-newsletter.valid p.valid, #partners-newsletter.valid p.valid span {
	color: #2bc875;
	position: static;
}

#partners-newsletter.valid p.valid strong {
	display: block;
}

#partners-newsletter.invalid p.invalid, #partners-newsletter.invalid p.invalid span {
	color: #e65959;
}

@media only screen and (max-width: 750px) {
	#partners-newsletter .text-wrapper {
		flex-basis: 100%;
	}

	#partners-newsletter .form-wrapper {
		justify-content: flex-start;
	}

	#partners-newsletter .form-wrapper p {
		text-align: left;
	}
}

@media only screen and (max-width: 700px) {
	.logos a {
		margin: 60px auto;
		display: block;
	}

	#partners a {
		clear: both;
		width: 100%;
	}

	.story {
		background-position: top center;
	}

	.story .content {
		padding: 50px 0 50px 0;
	}

	.story .background-image {
		top: 0;
		left: 0;
		width: 100%;
		height: 330px;
		background-size: cover;
	}

	.story .floating-text {
		padding: 50px 25px 0 25px;
		margin-top: 230px;
		background-image: none;
		background: linear-gradient(to top, rgba(47, 129, 183, 1) 0%, rgba(47, 129, 183, 1) 90%, rgba(47, 129, 183, 0.85) 100%);
		width: auto;
	}

	.story .floating-text * {
		margin-left: 0;
	}

	.story .floating-text .quote {
		background-image: none;
		padding-left: 0;
		margin-left: 0;
	}
}
